html, body {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 18px;
}

body {
    border: solid 1rem rgb(168 94 201);
}

body, button, input, textarea {
    font-family: "Barlow Semi Condensed", "Helvetica", "Arial", "Sans Serif";
    font-size: 1rem;
}

.title {
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 3rem;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2::before {
    content: "❮ "
}

h2::after {
    content: " ❯";
}

.portfolio {
    text-align: center;
    width: 1000px;
    margin: auto;
}

.portfolio .images {
    line-height: 0;
}

.portfolio img {
    width: 500px;
}

.project {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.project-details {
    margin-top: 1rem;
    text-align: right;
}

#footer {
    background-color: white;
    padding: 2rem;
}

.contact-me-container {
    width: 500px;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
}


label {
    display: block;
    text-align: left;
}

.field input, .field textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px black;
    padding: 0.8rem;

}



button {
    background-color: white;
    border: solid 1px black;
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.field {
    margin-bottom: 1.5em;
}

#errorMessage {
    color: red;
}

.van {
    text-align: center;
}


#header {
    position: fixed;
    background-color: white;
    display: flex;
}

#header a {
    background-color: black;
    color: white;
    padding: 1rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    text-transform: uppercase;
}
