html, body {
    margin: 0;
    font-size: 18px;
}

body {
    border-top: solid 1rem #a75ec9;
    border-bottom: solid 1rem #a75ec9;
}

body, button, input, textarea {
    font-family: "Barlow Semi Condensed", "Helvetica", "Arial", "Sans Serif";
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    white-space: nowrap;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 3rem;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2::before {
    content: "❮ "
}

h2::after {
    content: " ❯";
}

#content {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1rem;
}

.portfolio {
    width: 1000px;
    margin: auto;
}


.portfolio .images {
    line-height: 0;
}

.portfolio img {
    width: 500px;
}

.project {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.project-details {
    margin-top: 1rem;
    text-align: right;
}

#footer {
    background-color: white;
    padding: 2rem;
}

#contact-me {
    width: 500px;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
}


label {
    display: block;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px black;
    padding: 0.8rem;

}



button {
    background-color: white;
    border: solid 1px black;
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
}

button:hover {
    background-color: #a75ec9;
    border-color: #a75ec9;
    color: white;
}

form > div {
    margin-bottom: 1.5em;
}

.errorMessage {
    color: red;
}

#contact-me-link {
    position: fixed;
    background-color: white;
    display: flex;
}

#contact-me-link a {
    background-color: black;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    text-transform: uppercase;
}


@media screen and (max-device-width: 600px) {

    .portfolio {
        width: 100%;
        margin: auto;
    }

}
