html, body {
    margin: 0;
    font-size: 18px;
}

body {
    text-align: center;
    border-top: solid 1rem #a75ec9;
    border-bottom: solid 1rem #a75ec9;
}

html, body, #app, #container {
    height: 100%;
    min-height: 100%;
}

#container {
    position: relative;
    height: auto !important;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */
    border-top: solid 1rem #a75ec9;
}

body, button, input, textarea {
    font-family: "Barlow Semi Condensed", "Helvetica", "Arial", "Sans Serif";
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

form > div {
    margin-bottom: 1.5em;
}

form label {
    display: block;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px black;
    padding: 0.8rem;
}

form button {
    background-color: white;
    border: solid 1px black;
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
}

form button:hover {
    background-color: #a75ec9;
    border-color: #a75ec9;
    color: white;
}

#contact-me-link {
    position: fixed;
    color: white;
    background-color: black;
    padding: 1rem;
    text-transform: uppercase;
    right: 0;
}

#content {
    color: white;
    background-color: black;
    padding: 1rem;
}

#portfolio {
    width: 1000px;
    margin: auto;
}

#portfolio .images {
    line-height: 0;
}

#portfolio img {
    width: 500px;
}

#portfolio .project {
    margin: 2rem 0;
}

#portfolio .project-details {
    margin-top: 1rem;
    text-align: right;
}

#contact-me {
    width: 500px;
    color: black;
    background-color: white;
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#error-message {
    color: red;
}

#message-sent {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}

@media screen and (max-device-width: 600px) {

    #portfolio {
        width: 100%;
        margin: auto;
    }

    #portfolio img {
        width: 100%;
    }

    h2, h3 {
        font-size: 2rem;
    }

    #contact-me {
        width: auto;
    }

}
